@charset "utf-8";

body {
  font-family: "AvenirNext-Regular", "ヒラギノ丸ゴ Pro W4";
  width: 100vw;
  height: 100vh;
  position: relative;
}

.mi {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.waku {
  border-radius: 5px;
  border: solid #acb0b1 3px;
}

p {
  border-bottom: #B0DEEC 3px solid;
}

a {
  text-decoration: none;
  color: #2b2b2b;
}

@media (max-width: 600px) {
  body {
    width: 100vw;
  }

  .mi {
    width: 90vw;
    line-height: 2;
  }

  input {
    margin-left: 5vh;
    margin-right: 5vh;
  }
}