@charset "utf-8";
/* login・registration・reg-checkページ共通 */

body {
  font-family: "AvenirNext-Regular", "ヒラギノ丸ゴ Pro W4";
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
}

.left-side {
  width: 75%;
  background: #B0DEEC;
  position: relative;
}

/* ？画像 */
.img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.right-side {
  background: white;
  width: 25%;
  height: 100vh;
  position: relative;
}

.container {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* login下 */
.mrg-bottom {
  margin-bottom: 10%;
}

.mrg-top {
  margin-top: 5%;
  margin-bottom: 5%;
  display: block;
}

/* 入力ボタン */
.input-frame {
  border: solid 1px #2b2b2b;
}

/* はじめるボタン */
input[type="submit"] {
  height: 2rem;
  border-bottom: solid 3px white;
}

/* 戻るボタン */
.back-button {
  color: #2b2b2b;
  text-decoration: none;
  height: 2rem;
  margin-top: 5%;
  margin-bottom: 5%;
  width: fit-content;
}

.back-button:hover,
input[type="submit"]:hover {
  border-bottom: #1b6c84 3px solid;
  height: 2rem;
}

@media (max-width: 600px) {
  main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative !important;
  }

  main>.left-side {
    width: 100vw;
    height: 20vh;
    order: 1;
  }

  img {
    position: absolute !important;
    top: 50% !important;
    left: 23% !important;
  }

  .left-side>img::after {
    display: block;
    width: 50vw;
    content: "しつもん。";
    color: black;
  }

  main>.right-side {
    width: 100vw;
    height: 80vh;
    order: 2;
  }

  .input-frame {
    height: 3rem;
    width: 80%;
  }

  .container {
    width: 100%;
    padding-left: 15%;
    padding-top: 5%;
  }

  .back-button {
    width: 50vw;
  }
}

/* registrationのみ */
.attention {
  margin-bottom: 5%;
  color: gray;
}

select {
  text-align: center;
}

/* reg-checkのみ */
.mrg-left {
  margin-left: 10%;
}

/* ボタン */
.btn-flex {
  display: flex;
  margin-top: 20%;
}

.scd-btn {
  margin-left: 20%;
}