@charset "utf-8";

main {
  font-family: "AvenirNext-Regular", "ヒラギノ丸ゴ Pro W4";
  padding-top: 10vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 7%;
}

.header > a {
  display: block;
}

.classes {
  display: flex;
  height: 50%;
  width: 90%;
  margin-left: 5%;
}

fieldset {
  width: 100%;
  color: #B0DEEC;
  text-align: center;
  border: none;
}

.title {
  margin-left: 2.5%;
  margin-top: 2rem;
}

/* user-listのみ */
.name {
  color: #2b2b2b;
  margin-bottom: 5%;
}

a {
  text-decoration: none;
  color: #2b2b2b;
}

.menu {
  height: 2.5rem;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  font-weight: 600;
}

.menu>input,
.menu>a {
  display: inline-block;
  text-align: center;
  width: 20%;
}

.menu>a {
  padding: 0.5rem;
}

.menu>input:hover,
.menu>a:hover {
  background: #dee8eb;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  width: 20%;
  height: 2.5rem;
  margin-top: 1%;
}


@media (max-width: 600px) {

  main {
    padding-right: 0.5vw;
  }

  /*ヘッダー*/
  .header {
    width: 100%;
    margin-bottom: 0%;
  }

  .header > .title {
    margin-top: 0.75rem;
  }

  /*リスト*/
  .classes {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin-left: 0.25%;
  }

  fieldset {
    width: 30vw;
    padding-top: 5.25vh;
  }

  fieldset>a {
    display: inline-block;
    padding-top: 0.75rem;
  }
}