@charset "utf-8";

body {
  font-family: "AvenirNext-Regular", "ヒラギノ丸ゴ Pro W4";
  width: 98.5vw;
  padding: 5%;
}

.title {
  margin-bottom: 2rem;
}

.area {
  border: solid 3.5px #b0deec;
  width: 40vw;
  height: 90%;
  border-radius: 10px;
}

.hidari>a {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.hidari>img,
.hidari>h1 {
  display: block;
  padding-top: 10px;
}

.hidari {
  display: flex;
  justify-content: space-between;
  width: 20vw;
  height: 10vh;
  letter-spacing: 20px;
}

.hidari>a>h1 {
  width: 18vw;
}

.hidari>img {
  width: 1vw;
}

.header-right {
  display: flex;
}

.button-info-button {
  font-weight: 600;
  margin-right: 5%;
  background: #b0deec;
  text-align: center;
  padding-top: 3.5%;
  border-radius: 5px;
}

.migi {
  line-height: 200%;
  width: 120%;
}

a {
  text-decoration: none;
  color: #2b2b2b;
}

input[type="number"] {
  width: 20%;
  text-align: center;
}

/* モーダル */
.button-info {
  border: #67a3b5 dashed 5px;
  background: white;
  width: 45vw;
  height: 75vh;
  position: fixed;
  margin-left: 20%;
  margin-top: -5%;
  text-align: center;
  padding: 5%;
  line-height: 200%;
}

.button-info > .content {
  text-align: left;
}

.button-info > p {
  font-weight: 700;
  border-bottom: #158db2 solid 3px;
  width: 40%;
  margin-bottom: 10%;
}

.button-info > .content > p {
  font-weight: 700;
}

.button-info > p:last-child {
  border: none;
  background: gainsboro;
  margin: 5% 0 0 30%;
}

.block {
  display: block !important;
}

/*ナビ*/
nav {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

nav>p>label {
  display: block;
  width: 100%;
  height: 100%;
}

nav>a,
nav>p {
  display: inline-block;
  margin-top: 2.5vh;
  height: 5vh;
  width: 15%;
}

nav>a:hover,
nav>p:hover {
  height: 5vh;
  padding: 0.25em 0.5em;
  background: #f3f3f3;
  border-radius: 15px;
}

/*1番目*/
.kibun {
  margin-left: 23%;
  width: 55%;
  display: flex;
  justify-content: space-around;
  border: solid #b0deec 4px;
  border-radius: 10px;
}

.zenhan {
  padding: 5%;
  border-bottom: solid 4px #2b2b2b;
}

.zenhan1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

.time {
  width: 40%;
}

.emotion {
  text-align: center;
  padding-top: 10%;
}

/*真ん中*/
.kohan1 {
  height: 50vh;
  padding: 10vh;
  display: flex;
  justify-content: space-around;
}

.zikan {
  width: 40%;
}

/*一番下*/
.a,
.b,
.c {
  display: inline-block;
  width: auto;
  height: 100px;
  border: solid #b0deec 3.5px;
  border-radius: 10px;
}

.makasete {
  margin-top: 5vh;
  margin-bottom: 10vh;
  border-top: solid 4px #2b2b2b;
  border-bottom: solid 4px #2b2b2b;
  padding: 13vh 0;
}

.makasete1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*下のナビ*/
.nav2 {
  display: flex;
  justify-content: flex-start;
}

.nav2>p>a {
  display: block;
  width: 100%;
  height: 100%;
}

.nav2>p>input {
  display: inline-block;
  width: 100%;
}

.nav2>a,
.nav2>p {
  display: inline-block;
  text-align: center;
  margin-top: 2.5vh;
  height: 5vh;
  width: 12%;
}

.nav2>p:hover {
  vertical-align: top;
  height: 5vh;
  padding: 0.25em 0.5em;
  background: #f3f3f3;
  border-radius: 15px;
}

@media (max-width: 600px) {

  /*共通*/
  body {
    width: 100vw;
    padding: 5%;
    margin: 0%;
  }

  .area {
    width: 80%;
    height: 15vh;
  }

  input {
    margin-top: 5%;
  }

  /*ヘッダー*/
  .header {
    border-bottom: none;
    height: 20vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 0%;
  }

  .hidari>img {
    width: 1.5vw;
    margin-bottom: 0.25rem;
  }

  .hidari>a>h1 {
    display: none;
  }

  .header>.migi {
    text-align: center;
    width: 75%;
    order: 2;
  }

  .hidari {
    order: 1;
  }

  .button-info-button {
    padding-top: 6%;
  }

  /*ナビ*/
  nav {
    border-bottom: solid 3.5px #2b2b2b;
    justify-content: space-evenly;
    padding-bottom: 5%;
  }

  nav>a,
  nav>p {
    display: block;
    width: 20%;
  }

  nav>a:hover,
  nav>p:hover {
    display: block;
    background: #f3f3f3;
  }

  /*1ブロック目*/
  .zenhan {
    margin-bottom: 0;
    padding: 0%;
  }

  .zenhan1 {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
  }

  .now {
    order: 1;
  }

  .time {
    order: 2;
    margin-bottom: 0;
    height: 10vh;
    width: 100%;
  }

  .emotion {
    padding-bottom: 10%;
  }

  .emotion>p {
    margin-left: 0%;
  }

  .kibun {
    width: 100%;
    margin-left: 0vw;
  }

  .zenhan>p {
    margin-left: 0px;
    padding-left: 0px;
  }

  .emotion>p:first-child {
    text-align: left;
  }

  /*真ん中*/
  .zikan {
    padding-top: 14%;
    width: 100%;
  }

  .kohan {
    border-bottom: none;
    width: 90%;
  }

  .kohan1 {
    width: 90vw;
    display: flex;
    flex-direction: column;
    padding: 10% 0;
    padding-bottom: 5%;
    margin-bottom: 0%;
  }

  /*１番下*/
  .makasete {
    margin-bottom: 0vh;
    padding: 5vh;
    border-bottom: none;
  }

  .makasete1 {
    display: flex;
    flex-direction: column;
  }

  .makasete1>textarea {
    width: 100%;
  }

  /*下のナビ*/
  .nav2 {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border-top: solid 3.5px #2b2b2b;
    padding-top: 3vh;
    margin-bottom: 10%;
  }

  .nav2>p {
    display: inline-block;
    margin-top: 2.5vh;
    width: 20%;
    height: 5vh;
  }

  .nav2>p:hover {
    padding: 0.25em 0.5em;
    width: 20%;
    background-color: #f3f3f3;
    height: 2rem;
  }

  /* モーダル */
  .button-info {
    width: 80vw;
    margin-left: 5.5%;
    top: 15%;
    height: 80%;
  }

  .button-info > p {
    width: 100%;
  }

  .button-info > p:last-child {
    width: fit-content;
    margin-left: 40%;
    border: none;
    background: gainsboro;
  }
}