@charset "utf-8";
main{
  font-family: "AvenirNext-Regular","ヒラギノ丸ゴ Pro W4";
  width: 100vw;
  height: 100vh;
  position:relative;
}
.bun{
  width: 25%;
  height: 25%;
  position:absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  text-align: center;
}
a{
  display: inline-block;
  margin-bottom: 10%;
  text-decoration: none;
  color: #2b2b2b;
}
p{
  border-bottom: solid 3.5px #B0DEEC;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2.5rem;
}
@media (max-width: 600px)
{
  .bun{
    width: 80vw;
    position: relative;
    top: 40vh;
    height: auto;
  }
  a{
    margin: 1rem;
  }
}